@media screen and (min-width: 481px) {
  #phone{
    display: none;
  }
}

@media screen and (min-width: 620px) {
  body{
    margin-left: initial;
    margin-right: initial;
  }

  .question{
    font-size: 1.2rem;
  }

  label::before{
    margin-left: 3px;
    margin-top: 3px;
  }

  input[type="checkbox"] + label::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border: 1px solid #999;
    border-radius: 5px;
  }

  ul{
    column-count: 2;
    margin: 0px 20px 0px 20px;
  }

  li:nth-child(odd){
    margin: 0px;
  }
  li:nth-child(even){
    margin: 20px 0px 20px 0px;
  }
}

@media screen and (min-width: 1081px){
  #hide{
  display: none;
  }

  ul{
    display: flex;
  }
  li{
    width: 80%;
  }

  li:nth-child(odd),li:nth-child(even){
    padding-top: 2%;
    margin: 5px;
  }
}
