html, header, body{
  margin: 0; /*変な余白をなくす*/
}

header{
  width: 100%;
  height: 80px;
  padding: 2% 0;
  background: #d6f3ef;
}
header,body{
  text-align: center;
  font-family: sans-serif;
}

.question, h2, label, li, .footer{
  margin-left: 20px;
  margin-right: 18px;
}
