.question{
  display: inline-block;
  text-align: left;
  /* 左揃え中央寄せのテキスト */
  margin-left: 3.1rem;
  text-indent: -3.1rem;
}

input[type="checkbox"]{
  display: none;
}

input[type="checkbox"] + label{
  padding-left: 30px;
  position: relative;
}

label::before{
  margin-left: 1.8px;
  margin-top: 1.8px;
}

input[type="checkbox"] + label::before{
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  border: 1px solid #999;
  border-radius: 5px;
}

input[type="checkbox"]:checked + label::after{
  content: "";
  display: block;
  position: absolute;
  top: -6px;
  left: 8px;
  width: 12px;
  height: 20px;
  transform: rotate(45deg);
  border-bottom: 3px solid #2867fb;
  border-right: 3px solid #2867fb;
}
